# Ignore everything in the root except the 

/*
!.gitignore
!DesktopModules/

# Ignore everyting in the "DesktopModules" directory, except the "awarwick"
# and "theams" directories.
DesktopModules/*
!DesktopModules/awarwick/
!DesktopModules/awarwick/*
